// heart coeur
.card-descriptive-right {
  border: 1px solid black;
  position: relative;
  margin-right: 2rem;
  top: -1rem; //important pour alignement
  &-icon_v {
    font-size: $font_size-medium;
    color: $color_text-secondary;
    cursor: pointer;
    &:hover {
      animation: heart_to_animate 2s linear forwards;
    }
    @include responsive(phone-small) {
      font-size: $font_size-big;
    }
    @include responsive(portable) {
      &:hover {
        animation: heart_to_animate 1s linear forwards;
      }
    }
  }
  &-icon_p {
    @extend .card-descriptive-right-icon_v;

    opacity: 0;
    color: transparent;
    transform-origin: center;
    background: linear-gradient(
      to right bottom,
      $color_secondary 10%,
      $color_primary
    );
    -webkit-background-clip: text;
  }
  &_box_v {
    position: absolute;
    left: -2.5rem;
  }
  &_box_p {
    @extend .card-descriptive-right_box_v;
  }
}
