//animation valider
@keyframes validate {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

// animation repas
@keyframes meal_to_bottom {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateY(-10px);
  }
  60% {
    opacity: 0.5;
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// animation coeur
@keyframes heart_to_animate {
  10% {
    opacity: 0.1;
    transform: scale(0);
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.5;
    transform: scale(0.1);
  }

  40% {
    opacity: 0.4;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.5;
  }

  70% {
    opacity: 0.7;
    transform: scale(0.8);
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
//
@keyframes heart_to_animate_inverse {
  100% {
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.8;
  }

  70% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.2;
  }
  0% {
    opacity: 0;
  }
}
// loader
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes loader {
  99.99% {
    height: 100%;
    width: 100%;
  }
  100% {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
